.nav-menu-container.about {
    justify-content: center; !important;
}

.arrow {
    margin: 0 50px 0 0;
    color: #3366FF;
    rotate: 180deg;
    align-self: center;
}

.arrow > a {
    text-decoration: none;
    color: #3366FF;
    font-size: x-large;
}

.about-text-container {
    margin: 50px auto 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text-container p {
    color: #3366FF;
    font-size: 18px;
    text-align: left;
}