body {
    font-family: 'futura', monospace;
    position: absolute;
    width: 100vw;
    margin: 0;
    padding: 0;
}

footer {
    font-family: inherit;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #3366FF;
}

footer a {
    color: #3366FF;
    text-decoration: none;
}