.logo-container {
    margin: 75px auto 75px;
    width: 300px;
    display: flex;
    justify-content: center;


}

.logo-image {
    width: 200px;
    height: auto;
    margin: auto;
}

.logo-image.active {
    animation: logo-spin 1s linear infinite;
}