.nav-menu-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 310px;
    justify-content: space-around;
}

.dropdown { /* this is the ancestor of  dropdown-button and dropdown-menu.   */
    position: relative; /* so we can absolutely position the menu  */
}

.dropdown-button > a {
    text-decoration: none;
    color: #3366FF;
}

.dropdown-button {
    background-color: transparent;
    color: rebeccapurple;
    font-size: 22px;
    border: none;
    font-family: 'futura', monospace;
}

.section-head{
    font-size: 20px;
    font-family: 'futura', monospace;
    color: #3366FF;
}

.dropdown.active > .dropdown-button,
.dropdown-button:hover,
.dropdown-button > a:hover {
    color: #061e3a;
    cursor: pointer;
}
.dropdown-menu {
    background-color: white;
    position: absolute; /* so we can absolutely position it relative to the ancestor ".dropdown" */
    width: 200px;
    left: -75px; /* this is the distance from the left edge of the menu to the left edge of the button */
    text-align: center;
    padding: .75rem;
    pointer-events: none;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    opacity: 0;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
    z-index: 2;
}

.dropdown-menu > a {
    display: block;
    text-decoration: none;
    color: #3366FF;
    font-family: 'futura', monospace;
    font-size: inherit;
    padding: 2px;
    margin: 20px 0;

}

.dropdown-menu > a:hover {
    color: #061e3a;
}

.dropdown.active > .dropdown-button+ .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}