.work-container-project{
    margin: 120px auto 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;

}

.image-container-project{
    margin: 5px 5px 5px 5px;
    width: calc(50%);
    max-width: 600px;
    height: auto;
    opacity: 1;
    flex-basis: calc(50% - 20px); /* set flex-basis to 33.33% */
    flex-shrink: 0; /* disable shrinking of the flex item */
    min-width: 300px;

}

.image-container-project img {
    max-width: 100%;
    max-height: 100%;

}

.image-text-project p {
    color: #3366FF;
    font-size: 12px;
    text-align: center;
}

